.root {
  background-color: #eee;
  padding: 10px;
  border: 3px solid #ccc;
}
body {
  margin: 0;
}
.sdui-header {
  min-height: 50px;
  line-height: 2.8;
  background: none #fafbfc;
  border-right: 1px solid #e1e4e8;
  border-bottom: 1px solid #e1e4e8;
}
